@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(244, 245, 252);
}


.main{
    max-width: 2600px;
    display: flex;
    height: 100vh;
    padding: 10px 0;
    justify-content: space-evenly;
    background-color: rgb(230, 230, 230);
}


.principal{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.principal ul{
    padding: 0 20px;
    margin: 0;

}

.principal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.principal .header button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(116, 104, 245);
    color: white;
    cursor: pointer;
}

.principal .header button:hover{
    background-color: rgb(62, 45, 245);
}

.principal ul li{
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    height: 50px;
    background-color: rgba(226, 226, 226, 0.877);
    margin: 5px 0;
}

.leftcontainer h4, p{
    padding: 0;
    margin: 1px 0;
}

.rigthcontainer{
    display: flex;
    
}

.rigthcontainer i{
    margin: 0 10px;
    cursor: pointer;
}

.rigthcontainer i:hover{
    color: rgb(116, 104, 245);
}

.formulario{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: block;
    z-index: 9999;
    width: 500px;
    border-radius: 5px;
    background-color: white;
    border-radius: 15px;
    border: 4px solid #abd1ed;

}

.formulario form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario form .inputs{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.formulario form input{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 3px solid #6398bf;
    margin: 10px 0;
    padding: 0 10px;
    outline: none;
    color: #6398bf;
    position: relative;
    background: transparent;
    font-size: 17px
}

.formulario form .inputs label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .3s;
    color: #6398bf;
    font-weight: bold;
    font-size: 17px;
}

.formulario form .inputs input:focus ~ label,
.formulario form .inputs input:valid ~ label{
    top: 11px;
    padding: 0 2px;
    background: #fff;
}




.formulario form .inputs img{
    width: 30px;
    position: relative;
    right: 170px;
}

.formulario form input#nombre{
    width: 290px;
}

.inputs-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.dropdown{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-sexo{
    background: transparent;
    color: #6398bf;
    appearance: none;
    border: none;
    border: 3px solid #6398bf;
    border-radius: 5px;
    height: 40px;
    font-size: 17px;
    width: 150px;
    font-weight: bold;
    margin: 10px 0;
    padding-left: 5px;
    outline: none;
    background-color: #fff;
}

.select-sexo option{
    background-color: #fff;
    color: #6398bf;
    font-size: 17px;
}

.dropdown .dropdown-icon{
    position: absolute;
    right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background-color: #abd1ed;
    height: 34px;
    width: 35px;
    

}

.dropdown .dropdown-icon img{
    width: 10px;
    rotate: 90deg;
}

.inputs input#date{
    width: 180px;
}



.formdata{
    width: 100%;
    padding: 20px;
}

.title{
    margin-bottom: 12px;
    height: 50px;
    border-radius: 7px;
    background-color: #6398bf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}

.title h2{
    margin: 4px 0;
    color: rgb(127, 193, 255);
}

.title p{
    font-size: 11px;
}

.title .personTitle{
    background-color: #fff;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    width: 190px;
    border: 4px solid #337aad;
    margin-left: 10px;
}


.title .personTitle img{
    width: 20px;
    margin-left: 5px;
}

.title .personTitle span{
    padding-left: 5px;
    color: #6398bf;
    font-weight: bold;
    font-size: 15px;
}

.title .imgPerson img{
    width: 50px;
    position: relative;
    left: 17px;
}

.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs i{
    position: absolute;
    margin: 10px 10px;
    font-size: 13px;
    color: rgb(48, 48, 49);
}

.formdata button{
   margin: 20px 0;
   padding: 10px;
   border: none;
    border-radius: 5px;
    background-color: rgb(116, 104, 245);
    color: white;
    cursor: pointer;
    width: 100%;
}

#btn:hover{
    background-color: rgb(100, 87, 252);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.new-item {
    animation: fadeInDown 0.5s ease forwards;
}

.menu{
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px;
}


.menu .menu-list ul li{
    list-style: none;
    margin: 0 0 14px 0;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 80%;
    margin-bottom: 3px;
}


.active .icon{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    background-color: rgb(55, 0, 255);
}

.menu .menu-list ul li a{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.menu .menu-list ul li a i{
    font-size: 13px;
}


.menu .menu-list ul li a p{
    font-size: 11px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/*dropdown*/

::selection {
    background: #abd1ed;
    color: #fff;
}

.location{
    margin-top: 10px;
}

.locationCity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locationContact{
    display: flex;
    align-items: center;
}

.location .inputs input#departamento{
    width: 180px;
}

.location .inputs i{
    position: relative;
    right: 38px;
    color: #337aad;
}


.wrapper{
    width: 370px;
    position: relative; /* Necesario para posicionar el dropdown absoluto respecto al contenedor */

}

.wrapper span{
    color: #6398bf;
    font-weight: bold;
}

.wrapper-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abd1ed;
    width: 35px;
    height: 34px;
}

.wrapper-img img{
    width: 10px;
    rotate: 90deg;
}

.img-active{
    rotate: 180deg;
}

.select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding-left: 5px;
}

.select-btn{
    height: 25px;
    border: none;
    border: 3px solid #6398bf;
    height: 40px;
    border-radius: 5px;
    width: 200px;
}

.content{
    position: absolute; /* Establece la posición absoluta */
    top: 1;
    left: 0;
    width: 200px;
    border: 1px solid #6398bf;
    border-radius: 5px;
    background-color: #fff;
    z-index: 9;
    max-height: 0;
    opacity: 0;
    transition: max-height ease 0.5s;
    margin-top: 5px;
    display: none;
}

.content_active{
    display: block;
    max-height: 200px;
    transition: max-height ease 0.5s;
}

.content .search{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .search i{
    position: absolute;
    left: 15px;
    color: #6398bf;
    font-size: 15px;
}

.content .search input{
    border: 1px solid #6398bf;
    font-size: 15px;
    height: 34px;
    margin: 5px 0;
    padding: 0 30px;
    border-radius: 3px;
}

.content .options li{
    padding: 8px;
    list-style: none;
    cursor: pointer;
    color: #727272;
}

.content .options{
    max-height: 110px;
    overflow-y: auto;
    padding-left: 5px;
}

.content .options li:hover{
    border-radius: 10px;
    background-color: #e3eff8;
}

.userLocation{
    height: 280px;
    border: 3px solid #6398bf;
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 10px;
}

.userTemperatura{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 10px 0;
}

.locationBanner{
    background-color: #6398bf;
    height: 40px;
    width: 210px;
    display: flex;
    align-items: center;
    border: 3px solid #337aad;
    border-radius: 50px;
    margin-top: 5px;
}

.locationBanner .ubicacionIcon{
    margin-left: 5px;
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.locationBanner span{
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
}

.locationBanner .ubicacionIcon i{
    color: #6398bf;
    
}

.inputs input#ciudad{
    width: 160px;
}

.inputs input#telefono{
    width: 170px;
}

#temperatureValue{
    width: 40px;
}

.temperatura{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #abd1ed ; 
    height: 45px;
    width: 350px;
    border-radius: 50px;
    padding: 0 10px;
}