*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgb(94, 1, 44), rgb(77, 77, 134));
    background-size: cover; /* Asegura que el fondo cubra el contenedor */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen en el contenedor */
    background-attachment: fixed; /* Asegura que la imagen no se mueva con el scroll */
}

.main{
    display: grid;
    grid-template-areas: 
    "header" 
    "body"
    "footer";
    width: 100vw;
    height: 100vh;
    grid-template-rows: auto 1fr auto; /* Asegura que el cuerpo ocupe el espacio disponible */
}



.container header {
    grid-area: header;
    background-color: rgb(31, 29, 29);
    margin: 10px;
    height: auto; /* Ajusta la altura automáticamente */
    max-height: 3rem; /* Altura máxima para el header */
    opacity: 0.9;
    border-radius: 3px;
    display: flex; /* Cambia el display a flex para una mejor adaptación */
    align-items: center; /* Centra verticalmente el contenido */
    padding: 0 10px; /* Ajusta el padding según sea necesario */
}

.container .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-lef{
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    height: 100%;

}

.nav-lef i{
    color: white;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.nav-lef img{
    width: 70px;
    height: 40px;
    margin:  0 20px;
}

.nav-lef .icon{
    display: flex;
    align-items: center;
    justify-self: center;
}

.nav-lef .icon input{
    background-color: rgb(61, 60, 60);
    opacity: 1.5;
    height: 38px;
    border: none;
    border-radius: 20px;
}

.nav-lef .icon i{
    padding: 0;
    margin: 0;
    position: absolute;
    padding: 10px;
    font-size: 13px;
}

.nav-rigth{
    background-color: rgb(65, 225, 113);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-rigth .container-rigth{
    border-left: 1px solid white;
    display: flex;

}

.nav-rigth .container-rigth i{
    color: white;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.content {
    grid-area: body;
    width: 100%;
    height: 100%;
    overflow: auto; /* Asegura que el contenido largo sea desplazable */
}

footer {
    background-color: rgb(31, 29, 29);
    height: 3rem;
    width: 100%;
    bottom: 0;
}